---
layout: base
---
{% include mode_switcher.html %}

{% assign my = site.my %}
<div class="row" id="about">
    <header id="title">
        <img src="{{ crturl }}images/me.png">
        <h1>{{ my.realName_cn }} | <small>{{ my.jobTitle | upcase }}</small></h1>
    </header>

    <section id="intro">
        <h2>Do cool things</h2>
        <p>在校研究生,18年毕业</p>
        <p>程序员, 爱雪, 爱coding, 爱跑步, 爱骑车, 爱动漫</p>
    </section>

    <section id="skillsets">
        <h2>我的社区</h2>
        <ul id="frontend">
            <li class="fa"><a href="{{ my.contact.github }}">GitHub</a></li>
            <li class="fa"><a href="">SegmentFault</a></li>
            <li class="fa"><a href="">CSDN</a></li>
            <li class="fa"><a href="">Stack Overflow</a></li>
        </ul>
    </section>

    <section id="findme">
        <h2>FIND ME ON</h2>
        <ul>
            <li><a href="{{ my.contact.github }}"><i class="fa fa-github"></i></a></li>
            <li><a href="{{ my.contact.email }}"><i class="fa fa-envelope"></i></a></li>
            <li><a href="{{ my.contact.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </section>

</div>
{% include disqus_load.html %}